
.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label em {
    color: #ec1b24;
}

#sidebar-menu > ul > li > a:hover,
#sidebar-menu .menuitem-active .active,
#sidebar-menu .menuitem-active > a {
    color: #e7982a;
}

a {
    color: #0095da;
}
a:hover {
    color: #e7982a;
}

.table .table-user {
    display: flex;
    align-items: center;
    line-height: 1;
}
.filter .collapse {
    margin-bottom: 1.5rem;
}
.strike-through {
    text-decoration: line-through;
}