* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: #dde1e6 !important;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* The header Sections start */

#header {
    background-color: var(--blue);
    color: #dde1e6;
}

header {
    position: relative;
    clear: both;
    height: 8em;
}

.page_topline {
    line-height: 1.4;
    padding: 13px 0;
    border-bottom: none;
}

header.page_topline {
    overflow: visible;
}

nav {
    color: #dde1e6;
}

.nav-link {
    color: #dde1e6 !important;
}

.social-icons {
    display: inline-block;
}

a.nav-link {
    border-right: 1px dotted #000 !important;
}

a.nav-link.active {
    color: var(--orange) !important;
}

.social-icons a {
    color: rgb(255, 255, 255);
    margin-right: 8px;
    font-weight: 800;
    padding-right: 1em;
}

.social-icons a:not(:last-child) {
    border-right: 1px solid white;
}

.social-icons a:hover {
    text-decoration: none
}

button[title] {
    background: none;
    border: none;
    color: white;
    font-weight: 600;
}

button[title]:hover {
    background: none;
    border: none;
    color: white;
    font-weight: 600;
}

button[title].btn.dropdown-toggle.btn-light:focus {
    background: none;
    color: white;
    border-color: inherit !important;
    box-shadow: none;
}

button[title].btn-light.dropdown-toggle {
    color: white;
    background: inherit;
    border-color: inherit;
    box-shadow: inherit;
}

.page-header {
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

div#header2 {
    background-color: white;
    color: var(--blue);
    width: 85vw;
    position: absolute;
    top: 5em;
    right: 2vw;
    left: 7.8vw;
    z-index: 1;
}

div#header3 {
    background-color: white;
    color: var(--blue);
    width: 100%;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 5px #ddd;
    -moz-box-shadow: 0px 1px 5px #ddd;
    box-shadow: 0px 1px 5px #ddd;
}

.selected a.active {
    color: white !important;
}

a.nav-link {
    color: var(--blue) !important;
    font-weight: bolder;
    font-size: 16px;
}

a.nav-link:hover {
    color: var(--orange) !important;
}

.active {
    color: var(--orange) !important;
}

a.navbar-brand.font-weight-bold {
    color: var(--blue);
}

a.btn.project-btn {
    background-color: var(--orange);
    color: white;
    font-weight: 600;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 2em 0;
}

a.btn:focus {
    outline: none;
    box-shadow: none;
}

button.project-btn:hover {
    background-color: var(--darkorange);
    cursor: pointer;
    color: white;
}

button:focus {
    outline: none !important;
}

/* The header Sections end */

/* The Main Section start */

main {
    margin-top: -3.4em;
}

.alert,
.modal {
    position: fixed;
    top: 0;
    z-index: 1050;
}

/* Future section */

#future {
    background-image: url(../images/home-lanscape.png);
    background-size: cover;
    background-position: 52% 52%;
    height: 80%;
}

#future .container {
    padding: 22em 0;
    width: 85vw;
}

.darkbg {
    background-color: rgba(0, 0, 0, 0.74);
    z-index: -1;
}

.darkbg h1 {
    font-family: monospace;
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
}

/* Steps section */

#steps {
    background-color: #F4F4F4;
    color: black;
    width: 85vw;
    left: 7.8vw;
    right: 2vw;
    top: 45em;
    position: absolute;
}

#steps .container {
    padding: 5em 0;
    width: 85vw;
}

#steps img {
    margin: 0 0.2em;
}

#steps div>h3 {
    padding: 0.5em 0;
}

#steps div>p {
    padding: auto 0.5em;
}

.circle {
    background: inherit;
    border: 4px solid var(--blue);
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    display: inline-block;
}

.circle2 {
    background: inherit;
    border: 3px solid var(--blue);
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    margin-top: 0.2em;
    display: inline-block;
}

/* Opportunities section */

#opportunities {
    margin: 18em 0 3em 0;
    color: rgba(0, 0, 0, 0.89);
}

#opportunities h1 {
    color: var(--blue);
    font-family: monospace;
}

#opportunities h1>span {
    color: var(--orange);
    font-family: monospace;
}

#opportunities h6 {
    display: block;
}

#opportunities label,
#opportunities h6 {
    margin: 0.1em 0
}

#projects {
    color: var(--secondary);
    background-color: #F4F4F4;
    padding: 5em 0;
    /* position: absolute;
    width: 100vw; */
}

#projects .container {
    /* margin: 0 4em; */
}

#projects .col-5 h6 {
    color: var(--orange);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.2em 0;
}

#projects .col-7 h6 {
    font-size: 0.8rem;
    padding: 0.2em 0;
}

.card {
    transition: box-shadow .3s;
    /* width: 17rem; */
}

#projects .card {
    position: relative;
}

.card:hover {
    box-shadow: 5px 10px 9px rgba(172, 172, 172, 0.6);
}

#projects .card p {
    color: var(--secondary);
}

.card p>strong {
    color: black
}

.card-footer h5 {
    color: var(--orange);
    font-size: 0.9rem;
    text-transform: uppercase;
}

.card-desc h6 {
    font-size: 0.7rem;
    color: var(--secondary);
}

#projects a.readmore {
    height: fit-content;
    font-size: 0.5rem;
    padding: 0.4em 0.4em;
    width: 50%;
}

button.btn-tag {
    position: absolute;
    top: 0;
    /* left: 3em; */
    right: 0;
    /* transform: translate(-12%, -50%); */
    -ms-transform: translate(-50%, -50%);
    background-color: var(--orange);
    color: white;
    font-size: .6rem;
    /* width: inherit; */
    text-align: right;
    margin-right: 28%;
    margin-top: 2em;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

/* Investment section */

#investment {
    padding: 5em 2.5em;
    color: black;
}

#investment img {
    height: 85%;
    width: 100%;
}

#investment h2 {
    color: var(--transblue);
    font-family: Arial, Helvetica, sans-serif;
}

#investment h2>span:first-child::before {
    content: ' ';
    position: absolute;
    width: 1.3em;
    background: var(--orange);
    height: 0.1em;
    bottom: 10.3em;
    margin-left: 0em;
}

#investment h2>span:last-child {
    color: var(--orange);
    font-weight: 600;
}

#investment p {
    color: var(--secondary);
    font-family: monospace;
    font-size: 1.4rem;
}

#investment button.btn {
    background-color: var(--orange);
    border-radius: 10px 10px 10px 10px !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#investment button.btn:hover {
    cursor: pointer;
    background-color: var(--darkorange);
}

/* How we operate Section */

#operation {
    background-image: url(../images/home-cut.png);
    background-size: cover;
    background-position: 52% 52%;
    height: 80%;
    position: relative;
}

#operation::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.73);
    opacity: .6;
}

#operation h1 {
    font-size: 3.8rem;
}

#operation .overlay {
    position: absolute;
    top: 14em;
    left: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
}

#operation .container-fluid {
    /* position: relative; */
    padding: 20em 0;
}

#operation video {
    /* position: relative; */
    /* z-index: 0; */
}

#operation a {
    position: absolute;
    width: 100%;
    left: 0;
    top: 19em;
    text-align: center;
}

#operation .play {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#operation span.play:hover,
.play span:hover {
    cursor: pointer;
}

#operation .play span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 30px solid var(--orange);
    top: 21px;
    left: 30px;
}

/* Partners section */

#partners {
    padding: 8em 5em;
    color: black;
}

/* Newsletter section */

#newsletter {
    background-image: url(../images/unnamed.png);
    background-size: cover;
    background-position: 52% 52%;
    /* height: 60%; */
    padding: 8em 0;
    position: relative;
}

#newsletter::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.73);
    opacity: .6;
}

#join h2 {
    font-weight: 600;
    font-size: 2rem;
}

#join p {
    font-size: 1rem;
    margin-top: 1em
}

#newsletter input[type=email] {
    border: none;
    background-color: white;
    padding-left: 34px;
    height: 3.5em;
}

input:focus {
    outline: none;
}

#newsletter .fa-envelope {
    color: grey;
    position: absolute;
    z-index: 20;
    margin: 1.2em 0.8em;
}

#newsletter button.subscribe {
    background: var(--darkorange) !important;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 1.1em;
    width: 100%;
    margin: 5;
    text-transform: uppercase;
    font-weight: 600;
}

#newsletter .form-check {
    left: 47%;
}

#newsletter label>a {
    font-weight: 600;
    text-decoration: underline;
    color: white;
}

#newsletter #join {
    background: #00000daf;
    padding: 2em;
    text-align: center;
}

/* Post Project page styles start */

#postproject {
    background-image: url(../images/postproject.png);
    background-size: 108% 71%;
    background-position: 128% 107%;
    background-repeat: no-repeat;
    position: relative;
}

#postproject::before,
#servicehead::before,
#service-entp-head::before,
#service-invst-head::before,
#services-content div.img-overlay::before,
#abouthead::before,
#helphead::before,
#bloghead::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.73);
    opacity: .6;
}

#postproject .container,
#helphead .container {
    padding: 15em 0;
}

#postproject h1,
#servicehead h1,
#service-entp-head h1,
#service-invst-head h1,
#abouthead h1,
#helphead h1,
#bloghead h1 {
    font-size: 3rem;
    top: 5.5vh;
    position: absolute;
    left: 0;
    right: 0;
    font-weight: bold
}

#service-entp-head h1 {
    /* color: gray !important; */
}

#desc .container {
    padding: 8em 0;
}

#desc h1 {
    color: #242424;
    opacity: 0.8;
    font-family: monospace;
    text-align: center;
    font-size: xx-large;
}

/* Project form */

#projectform {
    color: black;
    /* padding: 5em 0; */
    margin-bottom: 5em;
}

#projectform .container {
    padding: 2em 2em;
    border: 1px solid black;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 1px solid grey;
    padding: 1rem;
    position: relative;
    height: fit-content;
    margin-bottom: 1em;
    min-height: 20em;
    ;
}

.image-area::before {
    content: 'Upload a photo of project (Optional)';
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
    text-justify: auto;
}

.image-area img {
    z-index: 2;
    position: relative;
}

#projectform .form-control {
    border: 1px solid grey;
    background-color: #F4F4F4
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

select#category+i.fa {
    margin-top: -1.8em;
}

select+i.fa {
    float: right;
    margin-top: -26px;
    margin-right: 10px;
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    background-color: transparent;
    color: black !important;
    padding-right: 5px;
    font-size: medium;
}

select option {
    padding-right: 21px;
}

#projectform button.btn.postbtn {
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

#projectform button.btn.postbtn:hover {
    background-color: var(--darkorange);
}

#projectform label:not(:last-child) {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
}

#projectform label>a {
    color: black;
    text-decoration: underline;
}

select.form-control:focus,
input.form-control:focus,
textarea.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.terms {
    text-decoration: underline;
}

.terms:hover {
    cursor: pointer
}

/* Post Page styles end */

/* The Main Image Section end */

/* Admin page start */

#admin.container,
#login.container {
    padding: 22em 0;
    color: black;
}

/* Admin page end */

/* Investments page start */

#investments,
#help,
#services,
#about,
#detailspage,
#blog {
    /* margin-bottom: 5em; */
    color: black;
}

#investhead .container,
#services .container,
#abouthead .container,
#bloghead .container {
    padding: 22em 0;
}

#investments {
    background-color: #F4F4F4;
}

#investhead {
    position: relative;
    height: 30em;
    background: rgba(53, 188, 255, 0.73);
}

#investhead::before,
#team-banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #8ACBEB;
    opacity: .6;
}

#investhead h1,
#team-banner h2 {
    font-size: 3rem;
    top: -10.5vh;
    position: absolute;
    left: 0;
    right: 0;
}

#investments>div.container {
    padding: 5em 0;
}

.investnow.btn {
    font-weight: bold;
    width: 10em;
}

#investments .form-control:first-child,
#blog .form-control:first-child,
#blogdetails .form-control:first-child {
    display: inline-block;
    width: 80%;
    padding: 0.375rem 0.5rem;
    border-radius: 0;
}

#blog .form-control:first-child {
    width: 84%;
}

#investments .searchbtn,
#blog .searchbtn,
#blogdetails .searchbtn {
    background: var(--darkorange);
    border-radius: 0;
}

#investments .searchbtn:focus,
#blog .searchbtn:focus {
    box-shadow: none;
}

#investments #filterSearch {
    background: white;
}

#roi-range,
#duration-range {
    padding: 1em 0;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
    margin: 0;
}

.slider-handle {
    top: 5px;
    width: 14px;
    height: 14px;
    background-color: var(--orange);
    background-image: -webkit-linear-gradient(top, var(--orange) 0, var(--darkorange) 100%);
    background-image: -o-linear-gradient(top, var(--orange) 0, var(--darkorange) 100%);
    background-image: linear-gradient(to bottom, var(--orange) 0, var(--darkorange) 100%);
}

.slider .tooltip.top {
    z-index: 0;
}

.tooltip.in {
    opacity: 1;
}

label.lower,
label.upper {
    margin: 0 0 -5em;
}

#roi-range>div:first-child>label:nth-of-type(2),
#duration-range>div:first-child>label:nth-of-type(2) {
    font-size: 0.7em;
    padding-top: 0.4em;
}

.filterbtn.btn {
    background-color: var(--orange);
}

#categorieslist {
    background-color: #fff;
}

#categorieslist ul {
    padding: 0;
    list-style: none;
}

#categorieslist ul>li {
    padding: 0.6em 1em;
    text-transform: uppercase;
    font-size: 1em;
    border-bottom: 2px solid rgba(141, 141, 141, 0.733);
}

.active2 {
    color: white;
    background: var(--dark)
}

#categorieslist li:hover {
    background: var(--dark);
    color: white;
    cursor: pointer;
}

/* Investments page end */

/* Services page start */

#services {
    background: #f4f4f4;
}

#servicehead {
    background-image: url(../images/services.png);
    background-size: 108% 71%;
    background-position: 95% 108%;
    background-repeat: no-repeat;
    position: relative;
}

#service-entp-head {
    background-image: url(../images/entp.jpg);
    background-size: 100% 100%;
    background-position: 0% 92%;
    background-repeat: no-repeat;
    position: relative;
}

#service-invst-head {
    background-image: url(../images/invst.jpeg);
    background-size: 100% 100%;
    background-position: 0% 92%;
    background-repeat: no-repeat;
    position: relative;
}

#servicehead .container,
#service-entp-head .container,
#service-invst-head .container {
    padding: 15em 0
}

#desc2 .container {
    padding: 5em 0;
}

#desc2,
#desc3 {
    background: #F4F4F4;
}

#desc2 h1 {
    color: var(--blue);
    font-family: monospace;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

#desc2 h1>span {
    color: var(--orange)
}

#services-content {
    padding-bottom: 4em;
}

#services-content .container-fluid {
    background: #fff;
    padding: 5em 5em 10em;
    width: 85%;
    margin-left: 8.5em;
}

#services-content .readmorebtn.btn {
    background: var(--orange);
    font-size: 1.2em;
}

#services-content .readmorebtn.btn:hover {
    background: var(--darkorange);
}

#services-content img {
    width: 100%
}

#services-content .img-overlay h3 {
    font-size: 1.5rem;
    top: 15vh;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

div#services-desc {
    text-align: center;
    padding: 5em;
}

div#services-desc h1 {
    font-size: 1.7rem;
}

/* Services page end */

/* About page start  */

#abouthead,
#bloghead {
    background-image: url(../images/about.png);
    background-size: 108% 81%;
    background-position: 96% 103%;
    background-repeat: no-repeat;
    position: relative;
}

#bloghead {
    background-image: url(../images/blog.jpg);
    background-size: 100% 131%;
}

#about-content {
    padding: 2em 0
}

#about-content p,
#team-text p {
    font-size: 1.3rem;
}

#team-banner {
    position: relative;
    height: 20em;
    background: rgba(53, 188, 255, 0.73);
}

#team-banner h2 {
    top: 0;
    margin-top: 2em;
}

#team-members {
    padding: 5em 0;
}

#team-members .fa-user {
    color: var(--blue);
}

#team-members .active {
    color: black !important;
}

.fa-10x {
    font-size: 10em;
}

#team-members p {
    font-size: 1.2em;
}

/* About page end */

/* Help page start */

#helphead {
    background-image: url(../images/gethelp.png);
    background-size: 104% 79%;
    background-position: 96% 108%;
    background-repeat: no-repeat;
    position: relative;
}

#helphead .container {
    padding: 18em 0
}

#desc3 .container-fluid {
    padding: 4em 8em;
}

#desc3 h1 {
    color: var(--dark);
    font-family: monospace;
    font-size: 2em;
}

#desc3 h1>span {
    font-weight: bold;
}

#desc3 p {
    font-size: medium;
    color: var(--dark);
}

#help-content .container-fluid {
    padding: 4em 9em;
}

.myaccordion {
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); */
}

.myaccordion .card {
    box-shadow: none;
    border: none;
}

.myaccordion .card-header {
    background-color: white;
}

.myaccordion button {
    width: 100%
}

.myaccordion button.btn-link {
    text-decoration: none;
    color: var(--dark)
}

.myaccordion h5>button {
    font-size: 1em;
}

.myaccordion .circle {
    border-radius: 50%;
    border: 1px solid black;
    height: 50%;
    width: 50%;
    position: absolute;
    display: grid;
    margin: 0.5em 0;
}

#accordion+div>button.btn {
    border-radius: 25px;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-weight: bold;
}

.help-info h4 {
    font-weight: bold;
}

#helpsearchform input.form-control {
    width: 90%;
    background: #f4f4f4;
    border-radius: 0;
}

#helpsearchform .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: none !important;
}

#helpsearchform button.btn {
    width: 30%;
    border-radius: 0;
    font-weight: bold;
}

#recent-posts {
    position: relative;
    margin-top: 2em;
}

.sideheader1,
.sideheader2 {
    width: 65%;
    position: absolute;
    transform: translate(23%, 0%);
    left: 0;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
}

.sideheader2 {
    transform: translate(26%, 0%);
}

.sideheader1 h3,
.sideheader2 h3 {
    background: white;
}

#recent-posts .list-group-item {
    line-height: 0;
}

#questionform button.btn {
    background: var(--orange);
    color: white;
    font-weight: bold;
    padding: 0.5em 3em;
}

#questionform button.btn:hover {
    background: var(--darkorange)
}

#updates button.btn.btn-primary {
    padding: 0.5em 1.5em;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

#recent-posts .list-group-item:hover,
#archives .list-group-item:hover {
    cursor: pointer;
    background-color: gainsboro;
}

#recent-posts ul li a:hover,
#recent-posts ul li a,
#recent-posts ul li a>p,
#archives ul li a:hover,
#archives ul li a,
#archives ul li a {
    text-decoration: none;
    color: black
}

div.scroll {
    height: 30em;
    overflow: scroll;
}

/* Help page end */

/* Project Details page start */

#detailshead {
    position: relative;
    height: fit-content;
    background: #fff;
}

#detailshead .container {
    padding: 0 -5em;
}

#detailspage {
    padding: 8em 0;
    background-color: #f4f4f4;
}

#detailshead h1 {
    font-size: 3rem;
}

#detailshead div.position-absolute {
    top: 15em;
    width: 100%;
    /* border-bottom: 1px solid black; */
}

#detailshead .investbtn.btn {
    background: var(--orange);
    width: 100%;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
    border-radius: 0;
}

#category-tag.container {
    /* padding: 0 7.5em 1em; */
    /* margin: 0 7em; */
}

#category-tag h3 {
    margin-right: -4.5rem !important;
}

#category-tag h5 {
    margin-left: -0.5em !important;
}

.headcenter {
    /* padding: 0 7.5em 1em; */
    margin: 7em 0 0
}

#details-content {
    font-size: 1rem;
    /* margin: 0 -0.9em; */
}

#accordionform h2 button.btn {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: var(--orange);
    color: white;
    border-radius: 0;
    letter-spacing: 2px;
}

#details-content .sendinvestbtn {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background: var(--blue);
    font-weight: bold;
    letter-spacing: 2px;
}

/* Blog Details page start */

#blogdetails,
#blog {
    background-color: #f4f4f4;
}

#blogdetails .container {
    padding: 16em 0;
    color: black;
}

#blogdetails p.card-text {
    font-size: 1.2rem;
}

#recentposts {
    background-color: white;
    padding: 1.3em 2em;
}

#recentposts img,
#blog img {
    max-width: 100%;
    height: auto;
}

#recentposts .img-fluid {
    max-width: 18vh;
    min-height: 13vh;
    max-height: auto;
    padding: 0 1.5em 0 0;
}

#blog .card-footer,
#blog .card-body {
    background-color: white;
}

#blogcontent .container {
    padding: 5em;
}

/* Blog Details page end */

/* Project Details page end */

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* The Footer Section start */

footer {
    background: #272727;
    padding: 5em 0;
    /* top: 25em; */
    position: relative;
    /* bottom: -23em; */
}

footer #copyright {
    background: #152424;
}

#copyright.container-fluid {
    padding: 2.3em 0;
    margin-bottom: -5em;
    margin-top: 2em;
    align-self: center;
}

footer h4 {
    margin-bottom: 0.5em;
}

footer ul {
    list-style: none;
    padding: 0;
    width: fit-content;
}

footer .text-muted {
    color: var(--lightgray) !important;
}

footer a.nav-link {
    color: white !important;
    border-right: none !important;
    font-weight: 500;
    padding: 0.5em 0;
}

footer label {
    font-size: 1rem;
    padding: 0 0.4em 0 0;
    margin-bottom: 0;
}

footer label>span {
    font-style: 1.2em;
}

footer .fa {
    margin-right: 0.3em;
}

footer .social-icons a {
    padding-right: 0.5em;
}

/* The Footer Section end */

@media screen and (max-width: 992px) {
    #opportunities h1 {
        margin-top: 22.6vh;
    }
}

@media screen and (max-width: 768px) {
    div#header2 {
        margin: 1em 0;
    }

    #opportunities h1 {
        margin-top: 20ch;
    }

    button.btn-tag {
        transform: translate(153%, 11%);
        left: 33vw;
        top: 5%;
    }

    #investment h2>span:first-child::before {
        bottom: 9.3em;
    }
}

@media screen and (max-width: 600px) {
    button.btn-tag {
        transform: translate(153%, 11%);
        left: 19vh;
    }
}

@media (min-width: 1200px) {
    .top-nav {
        position: relative;
        flex-grow: 10;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }

    .justify-nav-end .top-nav {
        justify-content: flex-end;
    }

    button.btn-tag {
        transform: translate(63%, -12%);
    }
}

}

}

}

}
